/* Boilerplate pastels CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set a pastel background color for the body */
  body {
    background-color: #faf3f3; /* Soft pink */
    color: #5c5c5c; /* Mild gray for text */
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
  }
  
  /* Style the header */
  header {
    background-color: #e0ece4; /* Pastel mint */
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    text-align: center;
    color: #333;
  }
  
  /* Style the main content area */
  main {
    padding: 20px;
    background-color: #fffae3; /* Very light pastel yellow */
    height: 80vh;
  }
  
  /* Style headings within the main area */
  main h2, main h3, main h4 {
    color: #333;
  }
  
  .maincontent {
    padding-top: 0%;
    padding-left:0%;
  }

  #cat-container {
    display: flex;
    justify-content: center;
  }
  
  .down {
    border-color: rgb(30, 2, 2) ;
    padding: 1%;
    border-style: solid;
    border-width: thick;
  }
  .up {
    border-color: rgb(244, 165, 8) ;
    padding: 1%;
    border-style: solid;
    border-width: thick;
  }
  .col {
    border-color: red ;
    padding: 1%;
    border-style: solid;
    border-width: medium;
  }
  .col-lg-grid {
    margin: 10px 0;
    position: relative;
    flex-basis: 32%;
  }
  .col-lg {
    max-height: 67vh;
    margin: 10px 0;
    position: relative;
    flex-basis: 30%;
  }
  .imgrid {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 70vh;
    justify-content: space-between;
  }

  /* Style the footer */
  footer {
    background-color: #e0ece4; /* Same color as header for consistency */
    padding: 20px 0;
    text-align: center;
  }
  
  /*Style the footer content */
  footer p {
    margin: 0;
    color: #333; /* Mild gray for text */
  }